.primera-parte{
    width: 100%;
    margin: 0 auto;
    background: #000000;
}

#essato-titulo{
    color: red;
}

.texto-inicio h1:first-child{
    color: #ffffff;
    font-weight: bold;
    font-size: 80px;
    margin-top: 50px;
}

.texto-inicio h2{
    color: #ffffff;
    font-size: 20px;
}

.primera-parte .subtitulo{
    color: #ffffff;
    font-size: 22px;
}

.primera-video iframe{
    margin-top: 25px;
}

.owl-carousel .owl-item img {
    width: 100%;
    height: 350px;
}


/*tercera parte*/

.tercera-parte{
    height: 70px;
    padding-top: 14px;
}

#essato-titulo-dos {
    text-align: center;
    font-weight: bold;
}

.cuarta-parte{
    
}

.cuarta-parte .row > div {
    padding: 0;
}

.fondo-rosado{
    background: #BF3B79;
}

.fondo-morado{
    background: #754EE6;
}
.cuarta-parte img {
    margin: 0;
    padding: 0;
    width: 100%; 
    height: 300px;
    transition: transform 0.3s ease;
}

.cuarta-parte img:hover {
    transform: scale(1.1);
}

#essato-titulo-empresa{
    color: red;
}

.texto-inicio-empresa h1:first-child{
    color: #ffffff;
    font-weight: bold;
    font-size: 80px;
}