.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body .poppins-regular{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    background: #000000 !important;
}

header{
    background-color: #000000;
    /*padding: 0px;*/
}


header .dropdown-menu {
    background-color: #747474;
}

header .navbar-nav .nav-item .dropdown-menu li a {
    color: #ffffff;
}

header .dropdown-item:hover {
    background-color: #b6d9ee;
}

header .dropdown-item {
    font-weight: bold;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
    display: none;
    position: absolute;
}


.dropdown-submenu:hover .dropdown-menu {
    display: block;
    left: -110%;
    right: auto;    
}


.bg-dark {
    --bs-bg-opacity: 0 !important;
    background-color: #000000 !important;
  }


main{
    /*background: #7a7a7a;    */
}

.primera-parte{
    width: 80%;
    margin: 0 auto;

}

#essato-titulo{
    color: red;
}

.texto-inicio h1:first-child{
    color: #ffffff;
    font-weight: bold;
    font-size: 80px;
    margin-top: 100px;
}

.texto-inicio h2{
    color: #ffffff;
    font-size: 20px;
}

.primera-parte .subtitulo{
    color: #ffffff;
    font-size: 22px;
}

.primera-video video{
    margin-top: 25px;
}

@keyframes scrollScale {
     0% {
        scale: 20%;
    }
    25% {
        scale: 30%;
    }
    50% {
        scale: 120%; /* Pantalla completa en el 50% del scroll */
    }
    75% {
        scale: 30%;
    }
    100% {
        scale: 20%; /* Regresa al 5% al final del scroll */
    }
}

.primera-video video {
    view-timeline-name: --video;
    view-timeline-axis: block;

    animation-timeline: --video;
    animation-name: scrollScale;
    animation-duration: 40s; /* Duración de 20 segundos para 10 scrolls */
    animation-range: entry 0% cover 100%;
    animation-fill-mode: both;
}


.segunda-parte{
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    border: #ffffff;
}

.segunda-parte .segunda-parte-container {
    position: absolute;
    width: 25%;
    height: 55%;
    border: 2px solid #680101; 
    margin-left: 5%; 
    z-index: -1;
}

.segunda-parte #segunda-parte-titulouno {
    font-weight: bold;
    color: #ffffff;
    font-size: 40px;
    padding-top: 8%;
    margin-top: 0px; 
}

.segunda-parte #segunda-parte-titulodos {
    font-weight: bold;
    color: #ffffff;
    font-size: 50px;
    margin-top: -40px; 
}

.segunda-parte #segunda-parte-titulotres {
    font-weight: bold;
    color: #ffffff;
    font-size: 30px;
    margin-top: -40px; 
}

.segunda-parte #essato-segunda-parte {
    padding-top: 8%;
    font-size: 18px;
    color: #ffffff;
}

.col-md-6.col-12.position-relative img{
    width: 100%; 
    height: 25%;
}

.segunda-parte #leyenda-bajo-img{
    font-size: 22px;
    color: #ffffff;
}

.col-md-6.col-12.position-relative img {
    padding-top: 15%;
    height: 40%;
}

.segunda-parte #leyenda-bajo-img {
    font-size: 20px;
    margin:0;
    padding: 0;
    margin-bottom: 50px;
}

.tercera-parte{
    width: 100%;
    background: #F0F0F0;
    background-size: cover; 
    background-position: center; 
}


.tercera-parte .item{
    padding-top: 10px;
    background-image: linear-gradient(to right, #f02c2d, #bf3b79, #754ee6);
}

.tercera-parte .card{
    padding-top: 5px;
    border: 2px solid red;
    height: 300px;
}

.tercera-parte #tercera-container{
    padding-top: 20px;
}

.tercera-parte h1{
    color: red;
    font-weight: bold;
    font-size: 60px;
}

.tercera-parte a{
   margin-top: 50px; 
}

.tercera-parte .card-header{
    padding-top: 40px;
}  
.tercera-parte .card-header h3{
    font-weight: bold;
}  


#cuarta-parte .col-md-6.col-12 {
    background: #000000; 
    height: 660px;
}

.cuarta-parte{
    margin: 0 auto;
}

.cuarta-parte #cuarta-parte-container{
   padding-top: 8%;
}

.cuarta-parte .col.align-self-end{
    width: 30%;
    height: 15px;
    background-image: linear-gradient(to right, #f02c2d, #bf3b79, #754ee6);
}

.cuarta-parte .titulo{
    color: #000000;
    font-weight: bold;
    font-size: 60px;
    padding: 8%;
    padding-top: 0px;
    padding-bottom: 1%;
    text-align: left;
}

.cuarta-parte .essato-segunda-parte{
    padding: 8%;
    font-size: 22px;
    text-align: justify;
}

.cuarta-parte #cuarta-parte-gris{
    background: #F0F0F0 !important;
}

.quinta-parte{
    margin-top: 10px;
}

.quinta-parte .tituloservicios{
    color: #ffffff;
    text-align: center;
}


.sexta-parte{
    margin-top: 50px;
}

#sexta-parte-negro{
    padding: 5%;
    padding-left: 10%;
    padding-right: 22%;
}

.sexta-parte .titulo{
    font-size: 50px;
    color: #DDDDDD;
}

.sexta-parte .titulo{
    font-size: 50px;
    color: #DDDDDD;
}

.sexta-parte .sexta-parte-texto{
    text-align: justify;
    font-size: 16px;
    color: #DDDDDD;
}

.sexta-parte .sexta-fondo-rojo{
    background: #F02C2D;
}

.sexta-parte .sexta-fondo-morado{
    background: #754EE6;
}


.septima-parte .container-fluid{
    width: 80%;
    margin: 0 auto;
}

.septima-parte{
    background: #F0F0F0 !important;
    padding-top: 25px;
    padding-bottom: 25px;
    
}


.septima-parte .titulo{
    text-align: center;
}


.septima-parte .card:hover{
    border: solid 2px #686868;
}

.septima-parte .card:hover .card-body .card-title{
    transition: 200ms all;
}

.card .card-header{
    border: none;
}

.card .card-body{
    border: none;
}

.card .card-footer{
    border: none;
}

.card-header img {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
}

.truncated{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

/*footer*/
footer {
    width: 100%;
    background: #F0F0F0;
}

footer img {
    width: 25px;
    height: 25px;
}

footer p {
    color: #000000;
    font-weight: bold;
}

#footer-parte-gris h1{
    padding-top: 30px;
}

#footer-parte-negro {
    padding-bottom: 2%;
}

#footer-parte-negro {
    background-color: #000000;
}

#footer-parte-gris h1 {
    font-size: 40px;
    font-weight: bold;
}

#footer-parte-gris .col-4, .col-5, .col-12 .form-label{
    font-weight: bold;
}

#cardcolor
{
    border: none;
    background: #F0F0F0;
}

.footer-parte #footer-parte-negro{
    padding-top: 5%;
    /*border: 1px solid #f02c2d;*/
}

footer .listado-footer {
    font-size: 16px;
}

.footer-parte ul li a{
    text-decoration: none;
    color: #FFFFFF;
}

.datos-personal-footer,
.politicas-footer{
    color: #FFFFFF;
    font-size: 16px;
}

.politicas-footer{
    padding-bottom: 20px;
}

.red-social-footer {
    color: #FFFFFF;
    font-size: 12px;
}

#dato-personal-footer{
    padding-top: 40px;
}

ul .datos-personal-footer:first-child {
    font-weight: bold;
    font-size: 22px;
}

.social-icons {
    display: flex;
    flex-wrap: nowrap; 
    justify-content: left; 
}

.red-social-footer{
    padding-top: 5px;
}

.social-icon {
    margin-right: 10px; /* Espacio entre los íconos */
}