.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body .poppins-regular{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    background: #000000 !important;
}

header{
    background-color: #000000;
    /*padding: 0px;*/
}

.bg-dark {
    --bs-bg-opacity: 0 !important;
    background-color: #000000 !important;
  }


main{
    background: #7a7a7a;    
}

.primera-parte{
    width: 80%;
    margin: 0 auto;
}

.texto-inicio h1:first-child{
    color: #ffffff;
    font-weight: bold;
    font-size: 80px;
    margin-top: 100px;
}

.texto-inicio h2{
    color: #ffffff;
    font-size: 20px;
}

#subtitulo{
    color: #ffffff;
    font-size: 2em;
}

.primera-video iframe{
    margin-top: 25px;
}

@keyframes show{
    from {
        opacity: 0;
        scale: 20%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
}

.primera-video iframe{
    view-timeline-name: --video;
    view-timeline-axis: block;

    animation-timeline:  --video;
    animation-name: show;

    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
}

.segunda-parte{
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    border: #ffffff;
}


.segunda-parte .essato-segunda-parte{
    padding: 8%;
    font-size: 22px;
    text-align: justify;
    color: #ffffff;
}

.segunda-parte #leyenda-bajo-img{
    font-size: 40px;
    color: #ffffff;
    text-align: center;
}

.tercera-parte{
    
}

.tercera-parte{
    width: 100%;
    height: 600px;
    background-image: url('../images/fondo.svg');
    background-size: cover; 
    background-position: center; 
}

.tercera-parte .owl-carousel {
    padding-top: 8%;
    padding-left: 5%;
    padding-right: 5%;
}

.tercera-parte .card{
    height: 400px;
}

#cuarta-parte .col-md-6.col-12 {
    background: #000000; 
    height: 700px;
}

.cuarta-parte{
    margin: 0 auto;
}

.cuarta-parte .titulo{
    color: #000000;
    font-weight: bold;
    font-size: 60px;
    padding: 8%;
    padding-bottom: 1%;
    text-align: left;
}

.cuarta-parte .essato-segunda-parte{
    padding: 8%;
    font-size: 22px;
    text-align: justify;
}

.cuarta-parte #cuarta-parte-gris{
    background: #F0F0F0 !important;
}

.quinta-parte{
    margin-top: 10px;
}

.septima-parte .container-fluid{
    width: 80%;
    margin: 0 auto;
}

.septima-parte{
    background: #F0F0F0 !important;
    padding-top: 25px;
    padding-bottom: 25px;
    
}

.septima-parte .titulo{
    text-align: center;
}

.card .card-header{
    border: none;
}

.card .card-body{
    border: none;
}

.card .card-footer{
    border: none;
}

.card-header img {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
}

.truncated{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Cambia este valor al número deseado de líneas */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}




/*footer*/
footer {
    background: rgb(255, 255, 255); /* Color de fondo del footer */
    padding: 20px 0; /* Añade espacio alrededor del texto */
}

footer img {
    width: 25px;
    height: 25px;
    
}

footer p {
    color: #000000;
    font-weight: bold;
    
}

.social-icons {
    display: flex;
    flex-wrap: nowrap; /* Para que los íconos no se envuelvan a una nueva línea */
    justify-content: left; /* Centra los íconos horizontalmente */
}

.social-icon {
    margin-right: 10px; /* Espacio entre los íconos */
}


