.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body .poppins-regular{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    background: #000000 !important;
}

header{
    background-color: #000000;
    /*padding: 0px;*/
}


header .dropdown-menu {
    background-color: #747474;
}

header .navbar-nav .nav-item .dropdown-menu li a {
    color: #ffffff;
}

header .dropdown-item:hover {
    background-color: #b6d9ee;
}

header .dropdown-item {
    font-weight: bold;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
    display: none;
    position: absolute;
}


.dropdown-submenu:hover .dropdown-menu {
    display: block;
    left: -110%;
    right: auto;    
}


.bg-dark {
    --bs-bg-opacity: 0 !important;
    background-color: #000000 !important;
  }


main{
    /*background: #7a7a7a;    */
}

.primera-parte{
    width: 80%;
    margin: 0 auto;

}

#essato-titulo{
    color: red;
}

.texto-inicio h1:first-child{
    color: #ffffff;
    font-weight: bold;
    font-size: 80px;
    margin-top: 100px;
}

.texto-inicio h2{
    color: #ffffff;
    font-size: 20px;
}

.primera-parte .subtitulo{
    color: #ffffff;
    font-size: 22px;
}

/* From Uiverse.io by Damithkumara */ 
.primera-parte button {
    padding: 0.9em 1.8em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 4px;
    color: transparent;
    border: 3px solid #ffffff;
    font-size: 14px;
    position: relative;
    font-family: inherit;
    background: transparent;
    cursor: pointer;
  }
  
.primera-parte  button::before {
    content: "Contactanos";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #363636;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
  }
  
.primera-parte  button:hover::before {
    left: 100%;
    transform: scale(0) rotateY(360deg);
    opacity: 0;
  }
  
.primera-parte  button::after {
    content: "Clic aqui";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #363636;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    transform: scale(0) rotateY(0deg);
    opacity: 0;
  }
  
.primera-parte  button:hover::after {
    left: 0;
    transform: scale(1) rotateY(360deg);
    opacity: 1;
  }
  


.primera-video video{
    margin-top: 25px;
}

@keyframes scrollScale {
     0% {
        scale: 30%;
    }
    25% {
        scale: 40%;
    }
    50% {
        scale: 120%; /* Pantalla completa en el 50% del scroll */
    }
    75% {
        scale: 90%;
    }
    100% {
        scale: 80%; /* Regresa al 5% al final del scroll */
    }
}

.primera-video video {
    view-timeline-name: --video;
    view-timeline-axis: block;

    animation-timeline: --video;
    animation-name: scrollScale;
    animation-duration: 140s; /* Duración de 20 segundos para 10 scrolls */
    animation-range: entry 0% cover 100%;
    animation-fill-mode: both;
}

.primera-parte .boton-w
{
    background-color: #25CC64;
    border-color: #25CC64;
    color: #ffffff;
}

.primera-parte .boton-w:hover{
    background-color: #079e41;
    border-color: #079e41;
    color: #ffffff;
}


.segunda-parte{
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    border: #ffffff;
}

.segunda-parte .segunda-parte-container {
    position: absolute;
    width: 25%;
    height: 55%;
    border: 2px solid #680101; 
    margin-left: 5%; 
    z-index: -1;
}

.segunda-parte #segunda-parte-titulouno {
    font-weight: bold;
    color: #ffffff;
    font-size: 40px;
    padding-top: 8%;
    margin-top: 0px; 
}

.segunda-parte #segunda-parte-titulodos {
    font-weight: bold;
    color: #ffffff;
    font-size: 50px;
    margin-top: -40px; 
}

.segunda-parte #segunda-parte-titulotres {
    font-weight: bold;
    color: #ffffff;
    font-size: 30px;
    margin-top: -40px; 
}

.segunda-parte #essato-segunda-parte {
    padding-top: 8%;
    font-size: 18px;
    color: #ffffff;
}

.segunda-parte .col-md-6.col-12.position-relative img{
    width: 100%; 
    height: 20%;
}

.segunda-parte .button{
    padding-top: 60px;
    

}

/*inicio*/

/* From Uiverse.io by gharsh11032000 */ 
.segunda-parte .button {
    position: relative;
    width: 120px;
    height: 40px;
    background-color: #000;
    display: flex;
    align-items: center;
    color: white;
    flex-direction: column;
    justify-content: center;
    border: none;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .segunda-parte .button::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -4px;
    top: -1px;
    margin: auto;
    width: 128px;
    height: 48px;
    border-radius: 10px;
    background: linear-gradient(to right, #f02c2d, #bf3b79, #754ee6);
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .segunda-parte .button::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, #f02c2d, #bf3b79, #754ee6);
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
  }
  
  .segunda-parte .button:hover::after {
    filter: blur(30px);
  }
  
  .segunda-parte .button:hover::before {
    transform: rotate(-180deg);
  }
  
  .segunda-parte .button:active::before {
    scale: 0.7;
  }
  
/*fin*/

.segunda-parte #leyenda-bajo-img{
    font-size: 22px;
    color: #ffffff;
}

.col-md-6.col-12.position-relative img {
    padding-top: 15%;
    height: 40%;
}

.segunda-parte #leyenda-bajo-img {
    font-size: 20px;
    margin:0;
    padding: 0;
    margin-bottom: 80px;
}

.tercera-parte{
    width: 100%;
    background: #F0F0F0;
    background-size: cover; 
    background-position: center; 
    padding-left: 50px;
    padding-right: 50px;
}


.tercera-parte .item{
    padding-top: 10px;
    background-image: linear-gradient(to right, #f02c2d, #bf3b79, #754ee6);
}

.tercera-parte .card{
    padding-top: 5px;
    border: 2px solid red;
    height: 330px;
}

.tercera-parte #tercera-container{
    padding-top: 20px;   
}

.tercera-parte h1{
    color: red;
    font-weight: bold;
    font-size: 60px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.tercera-parte a{
   margin-top: 50px; 
}

.tercera-parte .card-header{
    padding-top: 40px;
}  

.tercera-parte .card-header h3{
    font-weight: bold;
}  

.card-link {
    text-decoration: none; 
}

.icono-fecha{
    font-size: 30px;   
}

.card:hover .icono-fecha {
    color: red;
    font-size: 30px;
}


.tercera-parte .boton-w
{
    background-color: #25CC64;
    border-color: #25CC64;
    color: #ffffff;
}

.tercera-parte .boton-w:hover{
    background-color: #079e41;
    border-color: #079e41;
    color: #ffffff;
}


#cuarta-parte .col-md-6.col-12 {
    background: #000000; 
    height: 660px;
}

.cuarta-parte{
    margin: 0 auto;
}

.cuarta-parte #cuarta-parte-container{
   padding-top: 8%;
}

.cuarta-parte .col.align-self-end{
    width: 30%;
    height: 15px;
    background-image: linear-gradient(to right, #f02c2d, #bf3b79, #754ee6);
}

.cuarta-parte .titulo{
    color: #000000;
    font-weight: bold;
    font-size: 60px;
    padding: 8%;
    padding-top: 0px;
    padding-bottom: 1%;
    text-align: left;
}

.cuarta-parte .essato-segunda-parte{
    padding: 8%;
    font-size: 22px;
    text-align: justify;
}

.cuarta-parte #cuarta-parte-gris{
    background: #F0F0F0 !important;
}

.quinta-parte{
    margin-top: 100px;
}

.quinta-parte .tituloservicios{
    color: #ffffff;
    text-align: center;
}

.quinta-parte .link-marketing {
    position: relative;
    text-decoration: none;
    color: #ffffff;
  }
  
.quinta-parte .link-marketing::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 3px;
    background: linear-gradient(to right, #f02c2d, #bf3b79, #754ee6);
    transition: width 0.5s ease-in-out;
    border-radius: 2px;
  }
  
.quinta-parte .link-marketing:hover::after {
    width: 100%;
}

.sexta-parte{
    margin-top: 50px;
}

#sexta-parte-negro{
    padding: 5%;
    padding-left: 10%;
    padding-right: 22%;
}

.sexta-parte .titulo{
    font-size: 50px;
    color: #DDDDDD;
}

.sexta-parte .titulo{
    font-size: 50px;
    color: #DDDDDD;
}

.sexta-parte .sexta-parte-texto{
    text-align: justify;
    font-size: 16px;
    color: #DDDDDD;
}

.sexta-parte .sexta-fondo-rojo{
    background: #F02C2D;
}

.sexta-parte .sexta-fondo-morado{
    background: #754EE6;
}


.septima-parte .container-fluid{
    width: 80%;
    margin: 0 auto;
}

.septima-parte{
    background: #F0F0F0 !important;
    padding-top: 25px;
    padding-bottom: 25px;
    
}


.septima-parte .titulo{
    text-align: center;
}

.septima-parte .link-blog {
    text-decoration: none; 
    color: inherit; 
}


.septima-parte .card:hover{
    border: solid 2px #686868;
}

.septima-parte .card:hover .card-body .card-title{
    transition: 200ms all;
}

#essato-titulo-empresa{
    color: red;
}

.texto-inicio-empresa h1:first-child{
    color: #ffffff;
    font-weight: bold;
    font-size: 70px;
}

.octava-parte{
    margin-bottom: 70px;
    background: #FFFFFF;
    text-align: center;
    padding-bottom: 70px;
}

.octava-parte .imagen-empresas, .septima-parte .imagen-empresas {
    width: 100%;
    filter: grayscale(100%);
}


.octava-parte .imagen-empresas:hover, .septima-parte .imagen-empresas:hover {
    width: 100%;
    filter: grayscale(0%);
}


.novena-parte{
    padding-top: 100px;
}

.novena-parte .essato-titulo-empresa{
    color: red;
    padding-bottom: 50px;
    font-weight: bold;
}

/*inicio empresa*/

.btn-octava:link,
.btn-octava:visited {
 text-transform: uppercase;
 text-decoration: none;
 color: rgb(27, 27, 27);
 padding: 10px 30px;
 border: 1px solid;
 border-radius: 1000px;
 display: inline-block;
 transition: all .2s;
 position: relative;
}

.btn-octava:hover {
 transform: translateY(-5px);
 box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
}

.btn-octava:active {
 transform: translateY(-3px);
}

.btn-octava::after {
 content: "";
 display: inline-block;
 height: 100%;
 width: 100%;
 border-radius: 100px;
 top: 0;
 left: 0;
 position: absolute;
 z-index: -1;
 transition: all .3s;
}

.btn-octava:hover::after {
 background-color: rgb(0, 238, 255);
 transform: scaleX(1.4) scaleY(1.5);
 opacity: 0;
}


/**/



.card .card-header{
    border: none;
}

.card .card-body{
    border: none;
}

.card .card-footer{
    border: none;
}

.card-header img {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
}

.truncated{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

/*footer*/
footer {
    width: 100%;
    background: #F0F0F0;
}

footer img {
    width: 25px;
    height: 25px;
}

footer p {
    color: #000000;
    font-weight: bold;
}

#footer-parte-gris h1{
    padding-top: 80px;
}

#footer-parte-negro {
    padding-bottom: 2%;
}

#footer-parte-negro {
    background-color: #000000;
}

#footer-parte-gris h1 {
    font-size: 40px;
    font-weight: bold;
}

#footer-parte-gris .col-4, .col-5, .col-12 .form-label{
    font-weight: bold;
}

#cardcolor
{
    border: none;
    background: #F0F0F0;
}

.footer-parte #footer-parte-negro{
    padding-top: 5%;
    /*border: 1px solid #f02c2d;*/
}

footer .listado-footer {
    font-size: 16px;
}

.footer-parte ul li a{
    text-decoration: none;
    color: #FFFFFF;
}

.datos-personal-footer,
.politicas-footer{
    color: #FFFFFF;
    font-size: 16px;
}

.politicas-footer{
    padding-bottom: 20px;
}

.red-social-footer {
    color: #FFFFFF;
    font-size: 12px;
}

#dato-personal-footer{
    padding-top: 40px;
}

ul .datos-personal-footer:first-child {
    font-weight: bold;
    font-size: 22px;
}

.social-icons {
    display: flex;
    flex-wrap: nowrap; 
    justify-content: left; 
}

.red-social-footer{
    padding-top: 5px;
}

.social-icon {
    margin-right: 10px; /* Espacio entre los íconos */
}

