.menu-flotante {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
    z-index: 999;
}

.menu-flotante ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    text-align: center;
}

.menu-flotante li {
    margin: 10px 0;
    transition: all 0.3s ease;
}

.menu-flotante li a {
    color: #52e75a;
    text-decoration: none;
}


.menu-flotante .fa-square-phone{
    color: #df8bf8;
    text-decoration: none;
}

.menu-flotante li:hover {
    background: rgba(255, 255, 255, 0.2);
}

.menu-flotante li i {
    font-size: 42px;
}