@font-face {
    font-family: 'JarBinks-Regular';
    src: url('/fonts/JarBinks-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
    display: none;
    position: absolute;
}


.dropdown-submenu:hover .dropdown-menu {
    display: block;
    left: -110%;
    right: auto;    
}

main{
    background: #ECEDEB;
}

.primera-parte{
    width: 72%;
    margin: 0 auto;
    margin-top: 100px;
}

.primera-parte .texto-derecha{
    padding-top: 20px;  
    color: #000000;
    text-align: center;
}

.segunda-parte{
    
}

.segunda-parte{
    background-image: url('/images/servicios/marketing/VR-LENTES.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 50px;
    width: 100%;  
    height: 95vh;
}

.segunda-parte .maketing-partesegunda{
    padding-top: 150px;
}

.display-2{
    color: #ffffff;
    text-align: center;
    font-weight: bold !important;   
}

.hr-blanca {
    background-color: #ffffff;
    border: none;
    height: 5px; 
    margin-top: 1px;
    margin-bottom: 10px;
}

.ver-linea{
    border: solid 1px red;
}

.tercera-parte{
    padding-top: 50px;
}

.tercera-parte .cuaderno-tercera{
    width: 100%;
    height: 700px;
}

.decorated-text {
    list-style-type: disc; 
}

.negrita-span{
    font-weight: bold;
}

.derecha-espacio{
    padding-top: 85px;
}

.cuarta-parte{
    padding-top: 50px;
}

.hr-negra{
    background-image: linear-gradient(to right, #f02c2d, #bf3b79, #754ee6);
    border: none;
    height: 12px; 
    margin-top: 1px;
    margin-bottom: 10px;
    width: 40%;
}

.cuarta-parte .justificado{
    text-align: justify;
}

.quinta-parte{
    padding-top: 50px;
    /*border: solid 1px red;*/
}

.quinta-parte iframe{
    padding-top: 20px;
    width:100%;
    height:430px;
}

.quinta-parte .embed-responsive-item{
    width: 100%;
    height: 100%;
}

.sexta-parte{
    padding-top: 50px;
}

.sexta-parte .centrar-negrita{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.sexta-parte .boton-w
{
    background-color: #25CC64;
    border-color: #25CC64;
    color: #ffffff;
}

.sexta-parte .boton-w:hover{
    background-color: #079e41;
    border-color: #079e41;
    color: #ffffff;
}

/**/
/* From Uiverse.io by alexmaracinaru */ 
button {
    cursor: pointer;
    font-weight: 700;
    font-family: Helvetica,"sans-serif";
    transition: all .2s;
    padding: 10px 20px;
    border-radius: 100px;
    background: #ffffff;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    font-size: 15px;
  }
  
  button:hover {
    background: #ffffff;
  }
  
  button > svg {
    width: 34px;
    margin-left: 10px;
    transition: transform .3s ease-in-out;
  }
  
  button:hover svg {
    transform: translateX(5px);
  }
  
  button:active {
    transform: scale(0.95);
  }
  
  


/**/
.septima-parte{
    padding-top: 50px;
}

.septima-parte .testimonio {
    font-weight: bold;
}

.septima-parte .hr-testimonio{
    background-image: linear-gradient(to right, #f02c2d, #bf3b79, #754ee6);
    border: none;
    height: 12px; 
    margin-top: 1px;
    margin-bottom: 10px;
    width: 70%;  
}


.septima-parte .quitar-espacio {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.septima-parte .testminoTarjetas {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.septima-parte .card {
    margin: 0;         
    padding: 0;        
    width: 100%;       
    border: none;      
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #ECEDEB;
}

.septima-parte .card-body {
    margin: 0;
    padding: 0;
    flex: 1;           
}


.septima-parte .card-img-top {
    display: block;
    width: 100%;
    height: 300px;     
    object-fit: cover; 
    transition: transform 0.3s ease;
}

.septima-parte .card-img-top:hover {
    transform: translateY(-60%);
}

.septima-parte .titulo-empresa {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    text-align: justify;
    font-size: 12px;
}

.septima-parte .text-muted{
    color: #f02c2d !important;
    font-weight: bold;
    font-size: 12px;
}


.octava-parte{
    padding-top: 50px;   
}

.octava-parte .container-fluid{
    background: #231F20;
    height: 50vh;   
}


.octava-parte .font-uno{
    font-weight: bold;
    color: #ffffff;
    padding-top: 35px;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

.octava-parte .octava-con{
    font-weight: bold;
    color: #ffffff;
    font-size: 40px;
    text-align: left;
}

.octava-parte .font-dos {
    font-family: 'JarBinks-Regular', sans-serif;
    font-size: 150px;
    margin-top: -140px;
    color: #ffffff;
    text-align: center;
}


.novena-parte{
    padding-top: 50px;   
}

.novena-parte .testimonio{
    font-weight: bold;
}

.novena-parte .hr-testimonio
{
    background-image: linear-gradient(to right, #f02c2d, #bf3b79, #754ee6);
    border: none;
    height: 12px; 
    margin-top: 1px;
    margin-bottom: 10px;
    width: 40%;
}

.novena-parte .accordion-button{
    font-weight: bold;
}


.decima-parte{
    padding-bottom: 80px;
}

.decima-parte .container-fluid{
    width: 80%;
    margin: 0 auto;
}

.decima-parte{
    padding-top: 25px;
    padding-bottom: 25px;
    
}

.decima-parte .titulo{
    text-align: center;
}



.decima-parte .hr-testimonio
{
    background-image: linear-gradient(to right, #f02c2d, #bf3b79, #754ee6);
    border: none;
    height: 12px; 
    margin: 0 auto;
    margin-bottom: 40px;
    width: 20%;
}

.decima-parte .card:hover{
    border: solid 2px #686868;
}

.decima-parte .card:hover .card-body .card-title{
    transition: 200ms all;
}


.card .card-header{
    border: none;
}

.card .card-body{
    border: none;
}

.card .card-footer{
    border: none;
}

.card-header img {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
}

.truncated{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}