@font-face {
    font-family: 'JarBinks-Regular';
    src: url('/fonts/JarBinks-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

main{
    background: #F8F8F8;
}

.primera-parte{
    width: 72%;
    margin: 0 auto;
    margin-top: 60px;
}

.primera-parte .texto-derecha{
    padding-top: 20px;  
    color: #000000;
    text-align: center;
}

.segunda-parte{
    border: solid 1px red;
}

.segunda-parte{
    background-image: url('/images/servicios/marketing/VR-LENTES.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 50px;
    width: 100%;  
    height: 95vh;
}

.display-2{
    color: #ffffff;
    text-align: center;
    font-weight: bold !important;   
}

.hr-blanca {
    background-color: #ffffff;
    border: none;
    height: 5px; 
    margin-top: 1px;
    margin-bottom: 10px;
}

.ver-linea{
    border: solid 1px red;
}

.tercera-parte{
    padding-top: 50px;
}

.tercera-parte .cuaderno-tercera{
    width: 100%;
    height: 700px;
}

.decorated-text {
    list-style-type: disc; 
}

.negrita-span{
    font-weight: bold;
}

.derecha-espacio{
    padding-top: 85px;
}

.cuarta-parte{
    padding-top: 50px;
}

.hr-negra{
    background-image: linear-gradient(to right, #f02c2d, #bf3b79, #754ee6);
    border: none;
    height: 12px; 
    margin-top: 1px;
    margin-bottom: 10px;
    width: 40%;
}

.cuarta-parte .justificado{
    text-align: justify;
}

.quinta-parte{
    padding-top: 50px;
    /*border: solid 1px red;*/
}

.quinta-parte iframe{
    padding-top: 20px;
    width:100%;
    height:430px;
}

.quinta-parte .embed-responsive-item{
    width: 100%;
    height: 100%;
}

.sexta-parte{
    padding-top: 50px;
}

.sexta-parte .centrar-negrita{
    font-weight: bold;
    text-align: center;
}

.septima-parte{
    padding-top: 50px;
}

.septima-parte .testimonio {
    font-weight: bold;
}

.septima-parte .hr-testimonio{
    background-image: linear-gradient(to right, #f02c2d, #bf3b79, #754ee6);
    border: none;
    height: 12px; 
    margin-top: 1px;
    margin-bottom: 10px;
    width: 70%;  
}


.septima-parte .quitar-espacio {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.septima-parte .testminoTarjetas {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.septima-parte .card {
    margin: 0;         /* Elimina márgenes externos */
    padding: 0;        /* Elimina padding externo */
    width: 100%;       /* Asegura que la tarjeta ocupe todo el ancho disponible */
    border: none;      /* Opcional: Elimina bordes si es necesario */
    display: flex;
    flex-direction: column;
    height: 100%;
}

.septima-parte .card-body {
    margin: 0;
    padding: 0;
    flex: 1;           /* Permite que el cuerpo de la tarjeta ocupe el espacio disponible */
}


.septima-parte .card-img-top {
    display: block;
    width: 100%;
    height: 300px;     /* Ajusta esta altura según tus necesidades */
    object-fit: cover; /* Asegura que la imagen se ajuste sin distorsionarse */
    transition: transform 0.3s ease;
}

.septima-parte .card-img-top:hover {
    transform: translateY(-60%);
}

.septima-parte .titulo-empresa {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    text-align: justify;
    font-size: 12px;
}

.septima-parte .text-muted{
    color: #f02c2d !important;
    font-weight: bold;
    font-size: 12px;
}


.octava-parte{
    padding-top: 50px;   
}

.octava-parte .container-fluid{
    background: #231F20;
    height: 50vh;   
}


.octava-parte .font-uno{
    font-weight: bold;
    color: #ffffff;
    padding-top: 35px;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

.octava-parte .octava-con{
    font-weight: bold;
    color: #ffffff;
    font-size: 40px;
    text-align: left;
}

.octava-parte .font-dos {
    font-family: 'JarBinks-Regular', sans-serif;
    font-size: 150px;
    margin-top: -140px;
    color: #ffffff;
    text-align: center;
}


.novena-parte{
    padding-top: 50px;   
}

.novena-parte .testimonio{
    font-weight: bold;
}

.novena-parte .hr-testimonio{
    background-image: linear-gradient(to right, #f02c2d, #bf3b79, #754ee6);
    border: none;
    height: 12px; 
    margin-top: 1px;
    margin-bottom: 10px;
    width: 40%;
}

.novena-parte .accordion-button{
    font-weight: bold;
}

/*
.centrar-mas{
    text-align: center;
    color: #ffffff;
}

.hr-blanca {
    border: none;
    border-top: 2px solid #ffffff; 
    height: 0;
    margin-top: 1px;
    margin-bottom: 10px;
    margin-left: 100px; 
    margin-right: 100px; 
}

.boton-wha{
    margin-bottom: 100px;
}

.tercera-parte{
    margin-top: 10px;
}

.tercera-parte .tercera-texto-izquierdo{
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 10px;
}

.tercera-parte .tercera-texto-derecha{
    text-align: right;
    color: #000000;
    text-shadow: -1px -1px 0px #ffffff, 1px -1px 0px #ffffff, -1px 1px 0px #ffffff, 1px 1px 0px #ffffff;
    font-weight: bold;
    margin-top: -25px;    
    padding-right: 15px;
}

.tercera-parte .tercera-texto-centro{
    color: #ffffff;
    letter-spacing: 5px;  
    text-align: center;
    margin-top: -15px;
}


.cuarta-parte .parte-cuatro-img{
    padding-top: 10px;
    width: 100%;
    height: 300px;
}

.cuarta-parte .parte-cuatro-imguno{
    width: 100%;
    height: auto;
}

.cuarta-parte .parte-cuatro-imgdos{
    padding-top: 30%;
    width: 100%;
    height: auto;
}

.quinta-parte{
    margin-bottom: 75px;
}

.quinta-parte .quinta-texto-izquierdo{
    font-weight: bold;
    color: #ffffff;
    margin-top: -40px;
    font-size: 9em;
}

.quinta-parte .quinta-texto-anio{
    color: #000000;
    text-shadow: -1px -1px 0px #ffffff, 1px -1px 0px #ffffff, -1px 1px 0px #ffffff, 1px 1px 0px #ffffff;
    font-weight: bold;
    font-size: 6em;
    margin-top: -55px;     
}

.quinta-parte .quinta-texto-experiencia{
    color: #ffffff;
    margin-top: -20px;
    letter-spacing: 10px;
}

.sexta-parte{
    margin-bottom: 75px;
}


.sexta-parte .sexta-texto-titulo{
    color:#ffffff
}

.sexta-parte .parrajo-sexta-parte{
    padding-left: 25%;
    color: #ffffff;
    margin-top: 20px;
}

.septima-parte .septimo-parrafo-titulo{
    color: #ffffff;
    font-size: 28px;
}

.septima-parte .parrafo-negrita{
    font-weight: bold;
    font-size: 30px;
    color: #ffffff;
}

.septima-parte .boton-w{
    margin-top: 10%;
}

.octava-parte{
    padding-top: 50px;
    padding-left: 25px;
    padding-right: 25px;
}

.octava-parte .item{
    padding-top: 10px;
    background-image: linear-gradient(to right, #f02c2d, #bf3b79, #754ee6);
    margin-left: 20px;
    margin-right: 20px;
}

.octava-parte .card{
    padding-top: 5px;
    border: 2px solid red;
    height: 300px;
}

.octava-parte #tercera-container{
    padding-top: 20px;
}

.octava-parte h1{
    color: red;
    font-weight: bold;
    font-size: 60px;
}

.octava-parte a{
   margin-top: 50px; 
}

.octava-parte .card-header{
    padding-top: 40px;
}  
.octava-parte .card-header h3{
    font-weight: bold;
}  


.novena-parte .parte-novena-img{
    padding-top: 20px;
    width: 100%;
    height: 325px;
    margin-right: 0px;
}

.novena-parte .parte-novena-img {
    transition: transform 0.3s, box-shadow 0.3s;
}

.novena-parte .parte-novena-img:hover {
    transform: scale(1.50);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.novena-parte .video-teresa{
    width: 100%;
    height: 400px;
    margin-left: 0px;
}

.novena-parte .empresa-tituloUno{
    text-align: left;
    color: #ffffff;
}

.novena-parte .empresa-subtituloUno{
    text-align: left;
    color: #ffffff;
    margin-top: -10px;
}

.decima-parte .parte-decima-img{
    padding-top: 20px;
    width: 100%;
    height: 250px;
    margin-right: 0px;
}

.decima-parte .parte-decima-img {
    transition: transform 0.3s, box-shadow 0.3s;
}

.decima-parte .parte-decima-img:hover {
    transform: scale(1.50);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.decima-parte .video-teresa{
    width: 100%;
    height: 400px;
    margin-left: 0px;
}

.decima-parte .empresa-tituloUno{
    text-align: left;
    color: #ffffff;
}

.decima-parte .empresa-subtituloUno{
    text-align: left;
    color: #ffffff;
    margin-top: -10px;
}

.decima-parte .parte-decima-imgUno{
    padding-top: 20px;
    width: 100%;
    height: 400px;
    margin-left: 0px;
}

.once-parte{
    padding-top: 50px;
    padding-bottom: 150px;
}*/