*{
    margin: 0;
    padding: 0;
}

.primera-parte{
    padding-bottom: 50px;
}

.image img{
    width: 100% !important; 
    height: auto !important; 
    max-width: 100% !important; 
    max-height: auto !important;
}

.imagen-fondo img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
}

.segunda-subtitulo section, p, ul, li, article
{
    text-align: justify;
}

