.truncated{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

main p{
    color: #000000;
}

.form-label{
    font-weight: bold;
}

.form-control{
    background-color: #e9ecef !important;
}

.ck-editor__editable_inline{
    height: 500px;
}

/* Añade esto a tu archivo CSS */
.responsive-image {
    max-width: 100%;
    height: auto;
    display: block;
}
