.truncated{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

main p{
    color: #000000;
}

.form-control{
    background-color: #e9ecef !important;
}
